<ion-content>
  <div class="page-container">

    <div class="contact-details-container">
      <ion-card>
        <ion-card-header>
          <ion-card-title>Création d'un Contact</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

            <ion-item class="custom-label">
              <ion-label position="floating .custom-label">Prénom</ion-label>
              <ion-icon name="person-circle-outline" slot="start"></ion-icon>
              <ion-input type="text" formControlName="firstName" placeholder="Prénom"></ion-input>
            </ion-item>
            <ion-text color="danger"
              *ngIf="contactForm.get('firstName')?.invalid && contactForm.get('firstName')?.touched">
              Le prénom est obligatoire.
            </ion-text>

            <ion-item class="custom-label">
              <ion-label position="floating">Nom</ion-label>
              <ion-icon name="person-add-outline" slot="start"></ion-icon>
              <ion-input type="text" formControlName="lastName" placeholder="Nom de famille"></ion-input>
            </ion-item>
            <ion-text color="danger"
              *ngIf="contactForm.get('lastName')?.invalid && contactForm.get('lastName')?.touched">
              Le nom est obligatoire.
            </ion-text>

            <ion-item class="custom-label">
              <ion-icon name="mail-outline" slot="start"></ion-icon>
              <ion-label position="floating">Email</ion-label>
              <ion-input type="email" formControlName="email" placeholder="Email"></ion-input>
            </ion-item>
            <ion-text color="danger" *ngIf="contactForm.get('email')?.hasError('emailTaken')">
              L'email est déjà pris.
            </ion-text>


            <ion-item class="custom-label">
              <ion-label position="floating">Téléphone</ion-label>
              <ion-icon name="call-outline" slot="start"></ion-icon>
              <ion-input type="tel" formControlName="phone" placeholder="Numéro de téléphone"></ion-input>
            </ion-item>

            <ion-item class="custom-label">
              <ion-label position="floating">Adresse</ion-label>
              <ion-icon name="location-outline" slot="start"></ion-icon>
              <ion-input type="text" formControlName="address"></ion-input>
            </ion-item>
            <ion-text color="small">
              L'adresse a été renseignée automatiquement grâce à la géolocalisation de votre téléphone.
            </ion-text>
            

            <ion-button expand="full" type="submit" [disabled]="contactForm.invalid" class="submit-btn">
              Enregistrer
            </ion-button>

          </form>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
  <app-nav-bar></app-nav-bar>

</ion-content>
